html {
  /*font-size: 62.5%;*/
}

body {
  font-family: 'Gloria Hallelujah', cursive;
  color: #443;
}

.title {
  position: relative;
  top: -1em;
  left: 4rem;
}

.container {
  width: 100%;
  height: 100%;
  /*Paper background from http://lea.verou.me/css3patterns/#lined-paper*/
  background-color: #fff;
  background-image:
    /*TODO: Use media query to adjust line distance and margin size on mobile*/
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  min-height: 500px;
}

#page-header {
  background-color: #FFF;
  background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px);
  /*TODO: Figure out how tall the header margin shoule be relative to lines. Add holes?*/
  padding: 2.2em;
  margin-top: -1em;
  max-height: 2.2em;
  text-align: center;
}

#options {
  width: 360px;
  margin: 0 auto;
  display: none;
}

#options .selected {
  font-weight: bolder;
  font-size: 1.5em;
}

span:hover {
  font-weight: bolder;
  font-size: 1.5em;
}

#start-game {
  width: 8em;
  text-align: center;
  margin: 0 auto;
}

#board {
  width: 24rem;
  height: 24rem;
  margin: 0 auto;
  padding-top: 20px;
  display: none;
}

#gameover {
  font-size: 2rem;
  width: 24rem;
  height: 24rem;
  margin: 0 auto;
  padding-top: 20px;
  display: none;
}

.square {
  width: 30.6666667%;
  min-height: 30.6666667%;
  float: left;
  text-align: center;
  vertical-align: middle;
  font-size: 3rem;
}

.one, .two, .four, .five {
  border-right: 4px groove #eee;
  border-bottom: 4px groove #eee;
}

.three, .six {
  border-bottom: 4px groove #eee;
}

.seven, .eight {
  border-right: 4px groove #eee;
}
